extends layout

block content
  h1= title
  p ...a Twitter montior app that will hopefully do something cool one day.
  form.form(action="/" method="GET")
    input#keyword(type="text", placeholder="comma separated keywords", name="keySearch")
    input#startBtn(type="submit", value="start feed")
  hr
  if search == ''
    p No search terms defined
  else
    p Currently searching for #{search}
  #local-tweet-container
    ul.tweets